//font-family: 'Merriweather', serif;  'Iceland', cursive;
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//null style
@import 'nullStile.scss';

//variables
$default_font: 'Merriweather', serif;
$neon_color: #0f0;
$broken_neon_color: rgb(13, 89, 0);
$neon_border: solid 4px #0f0;
$neon_animatin: neon-border 5s steps(1, start) infinite reverse;

/////////////////////////////////////.....BODY...../////////////////////////////////////////////
body {
    font-family: $default_font;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1, h2{
    font-size: 24px;
}

.header_footer_width {
    width: min(max(50vw, 800px), calc(100% - 4rem));
    margin: 0 auto;
}

@keyframes neon-border { //neon flicker
    80%{
        border-color: $neon_color;
        box-shadow: 0 0 6px #fff,0 0 10px $broken_neon_color,0 0 20px $neon_color;
    }
    82%{
        border-color: $broken_neon_color;
        box-shadow: 0 0 7px $broken_neon_color, 0 0 15px $broken_neon_color;
    }
    83%{
        border-color: $neon_color;
        box-shadow: 0 0 6px #fff,0 0 10px $broken_neon_color,0 0 20px $neon_color;
    }
    84%{
        border-color: $broken_neon_color;
        box-shadow: 0 0 7px $broken_neon_color, 0 0 15px $broken_neon_color;
    }
    85%{
        border-color: $neon_color;
        box-shadow: 0 0 6px #fff,0 0 10px $broken_neon_color,0 0 20px $neon_color;
    }
    100%{
        border-color: $broken_neon_color;
        box-shadow: 0 0 7px $broken_neon_color,0 0 15px $broken_neon_color;
    }
}

/////////////////////////////////////.....HEADER...../////////////////////////////////////////////
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: $neon_border;
    border-radius: 0 0 2% 2%;
    animation: $neon_animatin;
    h1{
        margin: 1.2rem 0;
        font-size: 29px;
        font-family: 'Iceland', cursive;
        font-weight: 700;
        letter-spacing: 0.2rem;
        white-space: nowrap;
        a{
            &:link, &:visited {
                color: #fff;
                text-decoration: none;
            }
            p{
                padding: 0.3rem 0;
                border-right: solid 3px $neon_color;
                white-space: nowrap;
                overflow: hidden;
                animation: animated-text 2s steps(12,end) 1s 1 normal both,
                animated-cursor 1000ms steps(1,end) 3.5s infinite;
            }
        }
    }
}

@keyframes animated-text{ //Animation
    from{width: 0;}
    to{width: 195px;}
}

@keyframes animated-cursor{ //Cursor animations
    50%{border-right-color: #000;}
    100%{border-right-color: $neon_color;}
}

/////////////////////////////////////.....MAIN...../////////////////////////////////////////////
#page-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

#grid-container {
    display: grid;
}

main{
    border: $neon_border;
    border-radius: 1%;
    animation: $neon_animatin;
    width: min(max(50vw, 800px), calc(100% - 4rem));
    margin: 8rem auto 2rem auto;
}


/////////////////////////////////////.....FOOTER...../////////////////////////////////////////////



/////////////////////////////////////.....FOR_MOBILE...../////////////////////////////////////////////

@media only screen and (max-width: 600px){
    main {
        margin: 5rem 2rem 2rem 2rem;
    }

    .header_footer_width {
        margin: 0 2rem;
    }

    header h1 a p{
        margin: 0 auto;
    };
}
